<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/Competition/Create">Create Competition</a></li>
        <li class="nav-item"><a class="nav-link" href="/Competition">Manage Competitions</a></li>
        <li class="nav-item"><a class="nav-link" href="/Participant">Manage Participants</a></li>
        <li class="nav-item"><a class="nav-link" href="/RegisteredCompetitor">Manage Competitors</a></li>
    </ul>
</nav>