@model ClientSide_DanceFellows.Models.RegisteredCompetitor

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>RegisteredCompetitor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ParticipantID" class="control-label"></label>
                <select asp-for="ParticipantID" class ="form-control" asp-items="ViewBag.ParticipantID"></select>
            </div>
            <div class="form-group">
                <label asp-for="CompetitionID" class="control-label"></label>
                <select asp-for="CompetitionID" class ="form-control" asp-items="ViewBag.CompetitionID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" class="form-control"></select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Placement" class="control-label"></label>
                <select asp-for="Placement" class="form-control"></select>
                <span asp-validation-for="Placement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BibNumber" class="control-label"></label>
                <input asp-for="BibNumber" class="form-control" />
                <span asp-validation-for="BibNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChiefJudgeScore" class="control-label"></label>
                <input asp-for="ChiefJudgeScore" class="form-control" />
                <span asp-validation-for="ChiefJudgeScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JudgeOneScore" class="control-label"></label>
                <input asp-for="JudgeOneScore" class="form-control" />
                <span asp-validation-for="JudgeOneScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JudgeTwoScore" class="control-label"></label>
                <input asp-for="JudgeTwoScore" class="form-control" />
                <span asp-validation-for="JudgeTwoScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JudgeThreeScore" class="control-label"></label>
                <input asp-for="JudgeThreeScore" class="form-control" />
                <span asp-validation-for="JudgeThreeScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JudgeFourScore" class="control-label"></label>
                <input asp-for="JudgeFourScore" class="form-control" />
                <span asp-validation-for="JudgeFourScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JudgeFiveScore" class="control-label"></label>
                <input asp-for="JudgeFiveScore" class="form-control" />
                <span asp-validation-for="JudgeFiveScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JudgeSixScore" class="control-label"></label>
                <input asp-for="JudgeSixScore" class="form-control" />
                <span asp-validation-for="JudgeSixScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
