
@{
    ViewData["Title"] = "Homepage";
    Layout = "_Layout";
}
<br />
<p>Welcome to DanceFellows.</p>

<div>
    What does the API Say:
    <br />
    <br />
    <h1>@ViewBag.HelloWorld</h1>


</div>






